<!DOCTYPE html>
<html>
    <head>
        <title>Formulario_Crear</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    </head>
    <body>
        <div class="container">
            <header>
                <h2>FUNDAMENTOS WEB</h2>
            </header>
            <div>
                <p>El éxito de la web se basa en dos factores fundamentales: el protocolo HTTP y el lenguaje de
marcado HTML. El primero permite una implementación sencilla de un sistema de comunicaciones
que permite enviar cualquier archivo de forma fácil, simplificando el funcionamiento del servidor y
posibilitando que servidores poco potentes atiendan cientos o miles de peticiones y reduzcan de
este modo los costes de despliegue. El segundo, el lenguaje HTML, proporciona un mecanismo
sencillo y muy eficiente de creación de páginas enlazadas.</p>
            </div>
            <form action="" method="POST"><br>
                <div class="form-group">1
                    <input type="text" class="form-group" placeholder="que sera q va aqui"><br>
                </div>
            <button type="submit" class="btn btn-primary">Enviar</button>
            </form>
        </div>
    </body>

</html>